<footer>
    <div>
        <p>Redes Sociais</p>
        <div>
            <a href="https://pt-br.facebook.com/ford/photos/" target="_blank"><img src="assets/img/facebook-50.png" alt="Facebook"></a>
            <a href="https://www.youtube.com/user/ford" target="_blank"><img src="assets/img/youtube-squared-50.png" alt="Youtube"></a>
            <a href="https://www.instagram.com/fordbrasil/" target="_blank"><img src="assets/img/instagram-logo-50.png" alt="Instagram"></a>
        </div>
    </div>
    <a href="https://www.ford.com.br/copyright/" target="_blank"><img src="assets/img/ford-96.png" alt="Logo da Ford"></a>
</footer>