<main class="dashboard-container">
  <h1 class="titulo">Dashboard FORD</h1>

  <div class="topo">
    <div class="seletor">
      <label for="veiculo">Veículo</label>
      <select [(ngModel)]="veiculoSelecionado" (change)="onVeiculoChange()" id="veiculo">
        <option *ngFor="let v of veiculos" [value]="v">{{ v }}</option>
      </select>
    </div>

    @for (data of dashboardData; track $index) {
      @if (data.name === veiculoSelecionado) {
        <div class="card" *ngIf="data">
          <h3>Total de Vendas</h3>
          <p>{{ data.totalVendas }}<span> Unid.</span></p>
        </div>

        <div class="card" *ngIf="data">
          <h3>Conectados</h3>
          <p>{{ data.conectados }}<span> Unid.</span></p>
        </div>

        <div class="card" *ngIf="data">
          <h3>Update Software</h3>
          <p>{{ data.updateSoftware }}<span> Unid.</span></p>
        </div>

        <div class="conteudo" *ngIf="data">
          <div class="imagem">
            <img [src]="data.imagem" [alt]="veiculoSelecionado">
          </div>
        </div>
      }
    }

    <table>
      <thead>
        <tr>
          <th>Código - VIN</th>
          <th>Odômetro</th>
          <th>Nível de Combustível</th>
          <th>Status</th>
          <th>Lat.</th>
          <th>Long.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          @for (data of dashboardData; track $index) {
            @if (data.name === veiculoSelecionado) {
              <td>{{ data.vin }}</td>
              <td>{{ data.odometro }}</td>
              <td>{{ data.combustivel }}</td>
              <td>{{ data.status }}</td>
              <td>{{ data.latitude }}</td>
              <td>{{ data.longitude }}</td>
            }
          }
        </tr>
      </tbody>
    </table>
  </div>
</main>
