* { transition: ease-in-out .3s; }

header a:hover { color: var(--primary-color); }

.info:hover { background-color: var(--primary-color); }

main.index { .lauch { .info:hover { h3, p { color: #fff; } } } }

.info.left:hover { transform: translateX(-20px); }
.info.right:hover { transform: translateX(20px); }

table tr td img:hover { transform:scale(1.05); }

button:hover { transform: translateY(-3px); }

button:disabled { background: gray; }

button:disabled:hover { transform: none; }

footer { > div { img:hover { transform: translateY(-5px); } } }

/* JS */

.ranger-img {
    opacity: 1;
    transition: opacity 1s ease-in-out; 
}

.fade-in { opacity: 0; }
