main.contato {
    gap: 0;
    h1 {
        margin: 20px 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    img { width: 60%; }

    form {
        text-align: start;
        align-items: center;
        width: 100%;
        .form-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-inline: 30px;
            align-items: center;
            justify-content: center;

            div {
                width: 100%;
                max-width: 708px;
            }

            input,
            textarea,
            select {
                display: block;
                margin-top: 5px;
                width: 100%;
                border-radius: 7px;
                border: 1px solid gray;
                padding: 5px;
            }

            input,
            select { height: 50px; }

            textarea { min-height: 100px; }

            select:invalid { color: gray; }  

            button {
                width: 100%;
                max-width: 708px;
            }
        }
    }
}
