header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 0;
    height: 85px;
    box-shadow: 0px -3px 6px 3px rgba(0, 0, 0, 0.7);

    img {
        width: var(--logo-width);
        height: var(--logo-height);   
    }

    nav {
        ul {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            font-size: medium;

            li {
                display: inline;
                margin: 0 15px;
            }
        }

        a {
            color: var(--secundary-color);
            text-decoration: none;
            font-weight: bold;
        }
    }
}