<main class="index">
    <section class="ranger-bg">
        <h1>Bem-vindo ao Novo Lançamento da Ford</h1>
        <video autoplay loop muted>
            <source src="assets/video/ford-ranger.mp4" type="video/mp4">
            <!-- colocar .ogg -->
            Seu navegador não suporta vídeos em HTML5.
        </video>
    </section>
    <section class="lauch">
        <h2>Está chegando o <strong>4x4 mais Robusto</strong> do Brasil</h2>
        <div class="container-info">
            <h3>
                Conheça o Novo Modelo da Ford: o <strong>Ranger Black!</strong>
            </h3>
            <div class="info design right">
                <h3>Inovação e Design Moderno</h3>
                <p>
                    O Ford Ranger Black redefine o conceito de picape, unindo tecnologia de ponta e um visual sofisticado, oferecendo performance e estilo imponentes.
                </p>
            </div>
            <div class="info power left">
                <h3>Potência e Desempenho</h3>
                <p>
                    Com motor turbodiesel avançado, a Ranger Black entrega potência excepcional e eficiência, sendo perfeita para qualquer terreno.
                </p>
            </div>
            <div class="info connectivity right">
                <h3>Conectividade e Segurança</h3>
                <p>
                    Seu design robusto, com acabamento preto exclusivo, garante presença na estrada, enquanto recursos de conectividade e segurança tornam a experiência de condução única.
                </p>
            </div>
        </div>
        <div id="caurosel">
            <img src="assets/img/imagem_1.jpg" class="ranger-img" alt="Novo carro da Ford">
            <div id="carousel-title">Essa é a nova Ford Ranger 2022. Verifique as Novidades.</div>
            <div id="carousel-buttons">
                <button id="back">&#9664</button>
                <button id="next">&#9654</button>
            </div>
        </div>
    </section>
</main>    