<section>
    <img src="" alt="">
</section>
<section>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h1>Boas-vindas!</h1>
        <div *ngFor="let input of inputs; let i = index">
            <label for=""><img src="" alt="lb-left {{i}}"></label>
            <input type="text" [placeholder]="input.placeholder">
            <label for=""><img src="" alt="lb-right {{i}}"></label>
        </div>
    </div>
    <div>
        <p>Logar Automaticamente</p>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Default switch checkbox input</label>
        </div>
    </div>
    <button>Entrar</button>
</section>